<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <!-- Stylesheets -->
    <th:block th:insert="fragments/general::stylesheets"></th:block>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Athenea</title>
</head>
<body>
    <div class="page dashboard-page">
        <div class="container-fluid wrapper">
            <!-- header -->
            <th:block th:insert="fragments/header::dashboard-header"></th:block>
            <div class="content row">
                <div class="col-md-2 sidebar-column">
                    <th:block th:insert="fragments/aside::sidebar"></th:block>
                </div>
                <div class="col-md-10 panel-column">
                    <!-- action plan selector -->
                    <th:block th:insert="fragments/general::action-plan-selector"></th:block>
                    <!-- content -->
                    <section class="row action-plan-panel">
                        <div class="container-fluid">
                            <section layout:fragment="content">
                                <p>Your page content goes here</p>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <th:block th:insert="fragments/footer::footer"></th:block>
    <!-- scripts -->
    <th:block th:insert="fragments/general::scripts"></th:block>
    <script>
        $(function() {
            /** SIDE MENU **/

            // prevent clicking on submenu items to close drop down
            $(".sub-menu-item").click(function(e){
                e.preventDefault();
                e.stopPropagation();

                if(!$(this).hasClass('active')){
                    $(this).addClass('active');
                    $('.sub-menu-item').not(this).filter('.active').removeClass('active');
                }
            });

            // active menu item
            $(".menu-item").click(function(e){
                // check if there is another menu-item opened if yes close them
                let subMenus = $(".sub-menu").filter(".show");
                console.log(subMenus.length);

            });
            /* $('.menu-item').click(function (e) {
                 if(!$(this).hasClass('active')){
                     $('.menu-item').not(this).filter('.active').removeClass('active');
                     $('.menu-item').not(this).addClass('collapsed');
                     $(this).addClass('active');
                 }

                 if($(this).find('ul.sub-menu').length>0){
                     $('[aria-expanded="true"]').not(this).attr('aria-expanded','false');
                     $('.menu-item').not(this).children('.sub-menu.collapse.show').removeClass( "show", 400);
                 }else{
                     $('.menu-item').not(this).children('.sub-menu.collapse.show').removeClass( "show", 100);
                 }
             });*/

            // active sub-menu item
            /*$('.sub-menu li').click(function (e) {
                $('.sub-menu li').not(this).filter('.active').removeClass('active');
                $(this).addClass('active');
            });*/

            /** ACTION PLAN TREE */

            let actionPlanTreeDataURL="/action-plan-tree";

            // ajax call to get tree data
            $.ajax({
                url: actionPlanTreeDataURL,
                type:'GET',
                dataType:'json',
                success: function(response){
                    let tree = [];
                    tree.push(response);
                    buildActionPlanTree(tree);
                }
            });//end of ajax call

            // adds border to tree items on click
            $(document).on('click','.jqtree-element',function(){
                $('.jqtree-element').not($(this)).addClass('border');
                $(this).removeClass('border');
                $(this).css("border", "2px solid #2ca5d7");
            });

            $(document).on('mouseover','.jqtree-element',function(){
                $(this).removeClass('border');
                $(this).css("border", "1px solid #9160A6");
                if($(this).parent().hasClass('jqtree-selected')){
                    $(this).css("border", "2px solid #9160A6");
                }

            });

            $(document).on('mouseleave','.jqtree-element',function(){
                $(this).addClass('border');
                if($(this).parent().hasClass('jqtree-selected')){
                    $(this).removeClass('border');
                    $(this).css("border", "2px solid #2ca5d7");
                }
            });

            $('.language-dropdown-item').click(function(){
                // switch flag and language texts
                let selectedFlagSrc = $(this).find('img').attr('src');
                let selectedFlagAlt = $(this).find('img').attr('alt');
                let selectLanguageText=$(this).find('span').text();
                let currentFlagSrc = $('#languages').find('img').attr('src');
                let currentFlagAlt = $('#languages').find('img').attr('alt');
                let currentLanguageText=$('#languages').find('span').text();
                $('#selected-language').find('img').attr('src',selectedFlagSrc);
                $('#selected-language').find('img').attr('alt',selectedFlagAlt);
                $('#selected-language').find('span').text(selectLanguageText);
                $(this).find('img').attr('src',currentFlagSrc);
                $(this).find('img').attr('alt',currentFlagAlt);
                $(this).find('span').text(currentLanguageText);

                let locale='fr';
                if(selectLanguageText=='English'|| selectLanguageText=='Anglais'){
                    locale='en';
                }else if(selectLanguageText=='French'|| selectLanguageText=='Français'){
                    locale='fr';
                }
                let currentUrl = window.location.href;
                let currentUrlSplits ="";
                let targetUrl ="";

                if(currentUrl.includes('?lang=')){
                    currentUrlSplits = currentUrl.split("?lang=");
                    targetUrl = currentUrlSplits[0]+'?lang=' + locale;
                }else if (currentUrl.endsWith("#")){
                    currentUrlSplits= currentUrl.split("#");
                    targetUrl = currentUrlSplits[0]+'?lang=' + locale;
                }else if(currentUrl.endsWith("")){
                    targetUrl = currentUrl+'?lang=' + locale;
                }

                // window.location.replace(targetUrl);
                window.location=targetUrl;

            });

            $(document).ready(function(){

                let currentLocale = 'fr';

                let currentUrl = window.location.href;
                if(currentUrl !=undefined){

                    if(currentUrl.includes("?lang=")){
                        currentLocale = currentUrl.split("?lang=")[1];
                    }
                }


                if(currentLocale=='en'){
                    $('#selected-language').find('img').attr('src',"img/flags/GB.png");
                    $('#selected-language').find('img').attr('alt',"English");
                    $('#selected-language').find('span').text("English");

                    $('.language-dropdown-item').find('img').attr('src',"img/flags/FR.png");
                    $('.language-dropdown-item').find('img').attr('alt',"French");
                    $('.language-dropdown-item').find('span').text("French");
                }else if(currentLocale=='fr'){
                    $('#selected-language').find('img').attr('src',"img/flags/FR.png");
                    $('#selected-language').find('img').attr('alt',"Français");
                    $('#selected-language').find('span').text("Français");

                    $('.language-dropdown-item').find('img').attr('src',"img/flags/GB.png");
                    $('.language-dropdown-item').find('img').attr('alt',"Anglais");
                    $('.language-dropdown-item').find('span').text("Anglais");

                }

            });

        });
    </script>
</body>
</html>