<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <!-- Stylesheets -->
    <th:block th:insert="fragments/general::stylesheets"></th:block>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
</head>
<body>
<div class="page login-page">
    <div class="container">
        <!-- header -->
        <th:block th:insert="fragments/header::login-header"></th:block>
        <div class="row login-card-row">
            <div class="col-md-8 mx-auto my-4">
                <div layout:fragment="content">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<th:block th:insert="fragments/footer::footer"></th:block>
<!-- scripts -->
<th:block th:insert="fragments/general::scripts"></th:block>
<script>
    $(document).ready(function() {

        // login form validation
        $('#login-submit').click(function(e){
            // prevent form submission
            e.preventDefault();

            // Code to check login
            var hasError = false;
            var emailRegEx = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var emailAddressVal = $('#email-address').val();
            var passwordVal = $('#password').val();
            if(emailAddressVal==''){
                hasError=true;
            }
            if(!emailRegEx.test(emailAddressVal)){
                hasError=true;
            }
            if(passwordVal=='' || passwordVal.length <4){
                hasError=true;
            }
            // If fail
            if(hasError==true){
                $('.shakeable').removeClass('animated shake');
                $('#email-address').addClass('is-invalid');
                $('#password').addClass('is-invalid');
                setTimeout(function()
                {
                    $('.shakeable').addClass('animated shake')
                },1);
                $('#validation-message').removeClass('d-none');
                $('.form-control').on("focus",function(){
                    $('#validation-message').addClass('d-none');
                    $('#email-address').removeClass('is-invalid');
                    $('#password').removeClass('is-invalid');
                });
                $('#email-address').val("");
                $('#password').val("");
            }else{
                $("#login-submit").unbind('click').click();
            }
        });

    });
</script>
</body>
</html>